# Movitel e-Mola Credentials
# DO NOT COMMIT YOUR REAL CREDENTIALS. Copy this file to .env and fill in the values.

# Select "UAT" or "PROD". Default is UAT.
EMOLA_ENVIRONMENT=UAT

EMOLA_PARTNER_CODE=
EMOLA_PARTNER_KEY=
EMOLA_USERNAME=
EMOLA_PASSWORD=
